@charset "utf-8";

/* CSS Document */

body {

	font-family::"Times New Roman", Times, serif;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	color: #000;
	background-color:#EDEBDE;
	background-image:url(../img/background/noise.277282.png);
	}

a:link,a:visited {
	 text-decoration:none;
	 color:inherit;
 }

#wrapper{

	background-color:transparent;

	width:100%;

}

#sidebar{

	background-image:url(../img/background/ios-linen.277282.jpg);

	background-repeat:repeat;

	position:fixed;

	left:0px;

	top:0px;

	width:200px;

	height:100%;

	float:left;

    z-index: 101;



}

#top-nav{

	width:100%;
	height:31px;
	padding:5px;
	margin-left:200px;
	position:fixed;
	top:0px;
	background-image:url(../img/background/header_bg.277282.png);
	background-repeat:repeat-x;
    background-color: #FFF;
	box-shadow:#333 5px 5px 7px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	float:left;
    z-index: 100;

}
#content{

	display:block;

	position:relative;

	width:auto;

	padding:55px 0px 0px 280px ;

}

#lightbox{

    width: 100%;

    height: 100%;

    z-index: 105;

    background-color: #000;

    opacity: 0.8;

    position: fixed;

    top: 0px;

    left: 0px;

    display: none;

    

    

        



}

.preview_wrapper{

    width:100%;

    height: auto;

    position: fixed;

    top: 30px;

    display: none;

}

.preview{

    width: 960px;

    height: 640px;

    background-color:#FFF;

    position: relative;

    margin: 0 auto;

    z-index: 110;

    box-shadow: 0px 0px 7px #000;

    overflow-x: hidden;

    overflow-y: auto;

    

}


.display-block{

	top:0px;

	width:224px;

	height:auto;

	min-height:200px;

	margin: 14px;

	float:left;

	position:relative;

	background-color:#FFF;

	box-shadow:0px 0px 5px #666;

    overflow: hidden;

    -o-transition:all 1s;

    -moz-transition:all 1s;

    -webkit-transition:all 1s;

    transition: all 1s;

}



.thumbnail{

    margin: 10px 10px 10px 10px;

    cursor: pointer;

}

.tags{
    margin: 0px 10px 10px 10px;
}
.tags a:link,.tags a:visited{
    color: #606AF2;
}
.tags a:hover{
    color: #333;
    text-decoration: underline;
}


.metadata{
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}

.comment{

    margin: 5px 0px 0px 0px;

    background-color: #F2F0F0;

    height: auto;

    overflow: auto;

}

.comment-inner{
    background-color: transparent;
    margin: 5px;
    float: left;
    width: 160px;
    min-height: 30px;
    overflow-x: hidden;
}
.comment-inner a:link,.comment-inner a:visited{
    color: #3512DA;
    font-weight: bold;
}
.comment-inner a.tag_replace:link,.comment-inner a.tag_replace:visited{
    color: #606AF2;
    font-weight: normal;
}
.comment-inner a.tag_replace:hover{
    color: #333;
    text-decoration: underline;
}

.comment-avatar{
    background-color: transparent;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    float: left;
}

.p_image{

    width: 612px;

    height: 612px;

    padding: 14px;

    float: left;    

}

.p_text{

    position: relative;

    padding: 14px 14px 14px 0px;

    width: 280px;

    float: left;

    height: 67px;

    overflow: auto;

    border-bottom: 1px solid #EEE;

}

.p_text_avatar{

    width: 50px;

    height: 50px;

    float: left;

}


.p_text_text{
    width: 200px;
    padding-left: 5px;
    float: left;

}
.p_text_text a:link,.p_text_text a:visited{
    color: #3512DA;
    font-weight: bold;
}
.p_text_text a.tag_replace:link,.p_text_text a.tag_replace:visited{
    color: #606AF2;
    font-weight: normal;
}
.p_text_text a.tag_replace:hover{
    color: #333;
    text-decoration: underline;
}


.p_close{
    background-image:url(../img/icons/98Bjm1vovS7.png);
    background-position: -684px -42px;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.p_like{

    position: relative;

    padding: 14px 14px 14px 5px;

    width: 280px;

    float: left;

    height: 80px;

    overflow: auto;

    border-bottom: 1px solid #EEE;

}
.p_like a:link,.p_like a:visited{
    color: #3512DA;
    font-weight: bold;
}

.p_comment{

    position: relative;

    padding: 14px 14px 14px 0px;

    width: 280px;

    float: left;

    height: 390px;

    overflow: auto;

    border-bottom: 1px solid #EEE;

}

.p_comment .comment-inner{
    width: 230px;
    background-color: #EEE;
    border-bottom: 1px solid #FFF;

}
.p_comment a:link,.p_comment a:visited{
    color: #3512DA;
    font-weight: bold;
}
.p_comment a.tag_replace:link,.p_comment a.tag_replace:visited{
    color: #606AF2;
    font-weight: normal;
}
.p_comment a.tag_replace:hover{
    color: #333;
    text-decoration: underline;
}

#loading{
    position: fixed;
    bottom: 50px;
    left: 0px;
    width: 100%;
    height: 100px;
    display: none;
}
#loading-inner{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
}
.channel {
    color: #DDDDDD;
    font-size: large;
    font-weight: bold;
    width: 200px;
}
.channel td{
    border-bottom: 1px solid #CCC;
    padding: 10px;
}
